// Colors
@white: #ffffff;
@blue: #04c2c9;
@dark_blue: #1b242f;
@red: #e31b6d;

//responsive design variables
@mobile: (max-width: 650px);
@tablet: (max-width: 1000px);
@tablet-sm: (max-width: 850px);
